@import url("reset.css");
@import url("font.css");
body {
  font-family: "SF Pro Display";
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  width: 100%;
}
.topnav.show,
.show.topnav.fixed-top {
  height: 100vh;
  background-color: red;
}
.overlay {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #8b8b8b;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.topnav a.active {
  color: #5468e7;
}

.mobile-container {
  width: 100%;
  padding-top: 100px;
  display: block;
  color: white;
}
.topnav .mobile-container a {
  float: none;
  display: block;
  text-align: left;
}
.pc {
  display: none;
}
.topnav-left {
  z-index: 2;
  width: 100%;
  display: block;
}
.topnav a.btnmenu {
  float: right;
}
.content {
  padding-top: 40px;
}
.mv {
  overflow: auto;
  padding-top: 238px;
  background-image: url(../img/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}
.mv-detail {
  max-width: 40%;
  float: left;
}
.mv-detail p.desc {
  font-weight: 400;
  margin-top: 40px;
  font-size: 18px;
  line-height: 32px;
  color: #606060;
}
.mt48 {
  margin-top: 48px;
}
.btnblue {
  padding: 20px 38px;
  background: #5468e7;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.mv-image {
  margin-left: -15%;
  max-width: 75%;
  float: left;
}
h1 {
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -1px;
}
.scrollbtn {
  margin-top: 110px;
  margin-bottom: 80px;
}
.scrolldownbtn span {
  padding-left: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #8b8b8b;
}
.scrolldownbtn > * {
  vertical-align: middle;
}

.topnav.fixed-top {
  background-color: #fff;
}
.topnav-left:has(.show) {
  background-color: red;
}

.topnav-left a {
  padding: 12px 0 0 0;
}

.topnav-right a {
  color: #ffffff;
  padding: 20px 44px;
  background-color: #232340;
  border-radius: 8px;
  font-weight: 700;
}
.inverted {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .topnav-centered a{
    padding:14px 16px;
    transition: 2s;
  }  
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .mobile-container {
    height: auto;
  }
  .sm {
    display: none;
  }
  .pc {
    display: block;
  }
  .topnav {
    margin: 72px 64px 0 64px;
    position: absolute;
    width: calc(100% - 128px);
    overflow: hidden;
  }
  .topnav-left {
    z-index: 2;
    position: relative;
    width: auto;
    display: revert;
  }
  .mobile-container {
    display: block !important;
    background-color: unset;
  }
  .topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding-top: 0px;
  }
  .topnav .mobile-container a {
    float: left;
    display: block;
    text-align: center;
  }
  .topnav-right {
    float: right;
  }
  .container {
    padding: 0 72px;
  }
  .content-inner{
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }
  .about .right:nth-child(1) {
    padding-left: 30%;
    width: 100%;
  }
  .about .right {
    width: calc(100% - 200px);
  }
  .about .left {
    width: 200px;
  }
  .about .left a {
    display: block;
    padding: 45px 10px;
  }
  .about .left li > a.active::after {
    content: url("../img/point_line.png");
    width: 130px;
    height: 16px;
    position: absolute;
    padding-left: 44px;
  }
  .about > * {
    float: left;
  }
  #tabs .right {
    display: none;
  }
  #tabs .right.show {
    display: block;
  }
}

.section2 {
  padding-top: 168px;
  background-image: url(../img/bg-section-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex {
  display: flex;
}
.logo {
  width: 17%;
}
.sub-h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.sub-h2 span {
  padding-right: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #8b8b8b;
}
h2{
  margin-top: 24px;
  margin-bottom: 94px;
  font-weight: 700;
font-size: 64px;
line-height: 72px;
color: #FFFFFF;
}
.about .left li a{
  padding-left: 68px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 4px;
  font-weight: 600;
font-size: 18px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}
.yearscontent .half{
  float: left;
  width: 50%;
  margin-top: 169px;
}

.yearscontent .half + .half{
margin-top: 128px;
}
.half h3{
  font-weight: 700;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.5px;
color: #FFFFFF;
margin-bottom: 40px;
}
.half h3:before{
  content:url("../img/v-line.png");
  position: absolute;
  margin-left:-200px;
}
.half>p{
  font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #8B8B8B;
margin-bottom: 40px;
}
.counter{
  position: relative;
  float: right;
  background: #232340;
  width: 402px;
  height: 402px;
  border-radius: 50%;
  box-shadow: 0px 23px 50px rgb(0 0 0 / 25%);
}
.counter>div{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.counter p{
  font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: -0.2px;
color: #FFFFFF;
}
.counter .big{
  font-weight: 600;
font-size: 200px;
line-height: 239px;
text-align: center;
letter-spacing: normal;
color: #FFFFFF;
}